<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Spam Detection</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css"
    />
    <style>
      .ham-background {
        background-color: #d4edda; /* Hijau muda */
      }
      .spam-background {
        background-color: #f8d7da; /* Merah muda */
      }
    </style>
  </head>
  <body
    class="{% if prediction == 'ham' %}ham-background{% elif prediction == 'spam' %}spam-background{% endif %}"
  >
    <section class="section">
      <div class="container">
        <h1 class="title">Email Spam Detection</h1>
        <form action="/predict" method="post">
          <div class="field">
            <label class="label">Email Text</label>
            <div class="control">
              <textarea
                class="textarea"
                name="email_text"
                rows="10"
                placeholder="Enter email text here..."
              ></textarea>
            </div>
          </div>
          <div class="control">
            <button class="button is-link">Detect Spam</button>
          </div>
        </form>
        {% if prediction %}
        <div
          class="notification {% if prediction == 'ham' %}is-primary{% elif prediction == 'spam' %}is-danger{% endif %}"
        >
          <p>The email is {{ prediction }}</p>
        </div>
        {% endif %}
      </div>
    </section>
  </body>
</html>
